torch
wandb
numpy
pandas
hydra-core
timm

# dvc
dvc
dvc_gdrive
hydra-core
dvc_gs

#Google
google-cloud-secret-manager


# api
fastapi
pillow

#API REMOVE TRANSFORMERS WHEN OWN MODEL READY
transformers
python-multipart